<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inlog scherm</title>
    <link href="/styles /styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../ ...." alt="logo van de reisapp">
    </header>
    <main> 
        <section> 
            <img src="../..." alt="profiel foto toevoegen van de gebruiker">
            <form>
               
                    <label for="gebruikersnaam"> Gebruikersnaam:</label>
                    <input type="text" id="Gebruikersnaam" name="gebruikersnaam">
                

               
                    <label for="wachtwoord">Wachtwoord:</label>
                    <input type="password" id="wachtwoord" name="wachtwoord">
                
                <input type="submit" value="log in">
            </form> 
        </section>

       <section> 
            <a href="./registeren"> Registreren</a>
        </section>
         

        <!-- Om inteloggen (moet dit een button zijn of een link of link en button? )--> 
       
    </main>
</body>
</html>