<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registeren</title>
    <link href="/styles /styles.css" rel="stylesheet">
</head>

<body>
    <main>
        <section class=" registeren">
            <h1> Registreren </h1>
            <form action="/registreren" method="post">

                <label for="avatar">Kies een profiel foto:</label>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">

                <label for="Name"> Naam:</label>
                <input type="text" id="Name" name="Naam" required>

                <label for="DOB"> Geboortedatum:</label>
                <input type="date" id="DOB" name="Geboortedatum">

                <label for="Hobby">Hobby:</label>
                <select name="Hobby" id="Hobby">
                    <option value="Knutselen"> Knutselen</option>
                    <option value="Wandelen"> Wandelen</option>
                    <option value="Klimmen"> Klimmen</option>
                </select>

                <label for="Bestemming">Bestemming:</label>
                <select name="Bestemming" id="Bestemming">
                    <option value="China"> China</option>
                    <option value="Maleisie"> Maleisie</option>
                    <option value="Indonesie"> Indonesie</option>
                    <option value="Amerika"> Amerika</option>
                    <option value="Japan"> Japan</option>
                </select>

                <label for="Duur">Duur:</label>
                <select name="Duur" id="Duur">
                    <option value="2-4"> 2 tot 4 weken</option>
                    <option value="4-6"> 4 tot 6 weken</option>
                    <option value="6-8"> 6 tot 8 weken</option>
                </select>

                <label for="Beschrijving"> Overmij:</label>
                <input type="text" id="Beschrijving" name="Beschrijving">

                <input type="submit" value="Aanmaken">
            </form>
        </section>
    </main>
</body>

</html>