<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registeren</title>
</head>
<body>
    <main> 
        <section> 
            <img src="../..." alt="profiel foto toevoegen van de gebruiker">
            <form>
                <fieldset class="registeren">
                    <label for="name"> Naam:</label>
                    <input type="text" id="name" name="naam">    

                    <label for="DOB"> Geboortedatum:</label>
                    <input type="date" id="DOB" name="geboortedatum">

                    <label for="hobby">Hobby:</label>
                    <select name="hobby" id="hobby">
                        <option value="knutselen"> Knutselen</option>
                        <option value="wandelen"> Wandelen</option>
                        <option value="klimmen"> Klimmen</option>
                    </select>

                    <label for="bestemming">Bestemming:</label>
                    <select name="bestemming" id="bestemming">
                        <option value="China"> China</option>
                        <option value="Maleisie"> Maleisie</option>
                        <option value="Bali"> Indonesie</option>
                        <option value="Amerika"> Amerika</option>
                        <option value="Japan"> Japan</option>
                    </select>

                    <label for="duur">Duur:</label>
                    <select name="duur" id="duur">
                        <option value="2-4"> 2 tot 4 weken</option>
                        <option value="4-6"> 4 tot 6 weken</option>
                        <option value="6-8"> 6 tot 8 weken</option>
                    </select>

                    <input type="submit" value="Aanmaken">
                </fieldset>
            </form> 
        </section>
    </main>
</body>
</html>