*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CED2BA;
}

/************ index, inlog pagina  **********/
.index h1 {
    margin: 3em;
    text-align: center;
    font-weight: bold;
    color: #6E6153;
}

.index form {
    margin: 3em 1em;
    display: flex;
    flex-direction: column;
}

.index label {
    margin: .5em;
    justify-self: center;
    color: #6E6153;
}

.index input {
    margin: .3em 3.125em .6em .6em;
    padding: .3em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #EAEAEA;
    color: #6E6153;
}

.aanmelden a {
    margin: 0em 0em 0em 1.875em;
    padding: 10px;
    text-decoration: none;
    border-radius: 1em;
    background-color: #B9B9A5;
    color: #6E6153;
}

/********* registreren *********/
.registeren {
    margin: .625em;
    position: relative;
}

.registeren h1 {
    margin: 1em 0em;
    color: #6E6153;
    text-align: center;
}

.registeren form {
    margin: 0em 0em 0em .2em;
    display: flex;
    flex-direction: column;
}

.registeren label {
    margin: 1em 0em;
    color: #6E6153;
}

.registeren input {
    margin: .3em 3.125em .6em .6em;
    padding: .3em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #EAEAEA;
    color: #6E6153;

}

.registeren select {
    margin: .3em 3.125em .6em .6em;
    padding: .3em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #EAEAEA;
    color: #6E6153;
}


.registeren input:nth-of-type(1) {
    background-color: #CED2BA;
}



/****** STYLING PROFIELEN CAROUSEL********/


.profielen h1 {
    margin: 1em 0em;
    text-align: center;
    color: #6E6153;
}

.caroussel {
    overflow: scroll;
}

.caroussel ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    transition: ease-in-out .7s;
}

.caroussel ul li {
    margin: .625em;
    padding: 0em 0em 6.25em 0em;
    text-align: center;
    border-radius: 2em;
    background-color: #B9B9A5;
}

.caroussel ul li p {
    color: #6E6153;
}

.caroussel p:nth-of-type(1) {
    margin: .25em;
    font-size: 1.5em;
    font-weight: bold;
}

.caroussel img {
    padding: 1em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
}

#prevBtn,
#nextBtn {
    margin: .25em 1.5em 0em 3.1em;
    padding: 1em 2em;
    border-radius: 2em;
    justify-content: center;
    font-size: 16px;
    color: #6E6153;
    background-color: #B9B9A5;

}

#prevBtn:disabled,
#nextBtn:disabled {
    opacity: .2;
}

/****** Chat ********/
.chan main {
    position: absolute;
}

.chat h1 {
    margin: 1em 0em;
    text-align: center;
    color: #6E6153;
}

.chat img {
    padding: 1em;
    width: 7em;
    height: auto;
    border-radius: 50%;
    z-index: 100;
}

.chat p {
    margin: 0em .625em;
    padding: 1.25em 6.625em 1.25em 1.25em;
    position: absolute;
    top: 5.6em;
    left: 6.25em;
    border-radius: 1em;
    background-color: #B9B9A5;
}