*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
   position: relative;
   font-family: Arial, Helvetica, sans-serif;
}

.registeren{
    margin: 10px;
    position: relative;
}

.registeren form{
    display: flex;
    flex-direction: column;
}

.registeren label {
    margin: 10px ;
    justify-self: center;
}

.registeren input{
    margin: 10px ;
    padding: 5px;

}

.registeren select{
    margin: 10px;
    padding: 5px;
}


/*naam label*/
.registeren label:nth-of-type(1){
    color: green;
}



/****** STYLING PROFIELEN CAROUSEL********/

.caroussel main{
   
}
.caroussel h1 { 
    text-align: center;
    color: green;
  }
  
.caroussel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
    background-color: black;
    border-radius: 2em;
  }
    
.caroussel ul li{
 
    scroll-snap-align: center;
    background-color: gold;
    padding: 0px 0px 100px 0px;
    border-radius: 2em;
    margin: 10px;
    text-align: center;
  }
    

.caroussel ul li img{
    border-radius: 2em 2em 0 0 ;   
    width: 20em;
    height: 20em;
}

.caroussel ul li p{
    color: white;
}
  .caroussel p:nth-of-type(1){
    font-size: 2em;
    margin: .25em; 
  }
  

/****** PROFIELEN PAGINA ********/
